<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <p class="navbar-brand" routerLink="/user-dashboard">Tweet App</p>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="#"><img [src]="profileImage"/></a></li>
          <li><a routerLink="/view-my-tweets/{{user.username}}">View My Tweets</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>