
#exampleModalCenter{
  margin-top: 200px; 
}
.modal-content{
  background-color: rgb(34, 48, 60); 
  color: white;
}
.close{
  color: red;
}
.login-btn {
  padding: 13px 20px 12px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: black;
  margin-bottom: 24px;
}

.login-btn:hover {
  border: 1px solid #000;
}
.help-block{

  background-color:rgb(238, 231, 231);
  color:red;
}
a{
  color: white;
}