<a data-toggle="modal" data-target="#exampleModalCenter"><h4>Forgot password?</h4></a>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h2 class="pull-left">Forgot Password</h2>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
      <div class="text-center">
        <div class="help-block" *ngIf="forgotPasswordForm.controls.username.touched && forgotPasswordForm.controls.username.invalid">Email or Username is required.</div>
        <div class="help-block" *ngIf="forgotPasswordForm.controls.dateOfBirth.touched && forgotPasswordForm.controls.dateOfBirth.invalid">Date Of Birth is required.</div>
        <div class="help-block" *ngIf="forgotPasswordForm.controls.password.touched && forgotPasswordForm.controls.password.invalid">Password is required.</div>
        <div class="help-block" *ngIf="forgotPasswordForm.controls.newPassword.touched && forgotPasswordForm.controls.newPassword.invalid">Confirm Password is required.</div>
    </div>
			<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">  
				<div class="form-group">
				<label for="username" class="pull-left">Username</label>
				<input class="mb-4 form-control" formControlName="username"  name="username" placeholder="Enter Username or email address">    
				</div> 

				<div class="form-group">
					<label for="password" class="pull-left">Date Of Birth</label>
					<input class="mb-4 form-control" formControlName="dateOfBirth" type="date"  placeholder="Date Of Birth"> 
				</div>

        		<div class="form-group">
					<label for="confirmPassword" class="pull-left">Password</label>
					<input class="mb-4 form-control" formControlName="password" type="password" placeholder="Enter password"> 
				</div>

				<div class="form-group">
					<label for="confirmPassword" class="pull-left">Confirm Password</label>
					<input class="mb-4 form-control" formControlName="newPassword" type="password"  placeholder="Confirm Password"> 
				</div>
				
			<div class="modal-footer">
				<input name="reset" id="reset" class="btn btn-block login-btn mb-4" [disabled]="forgotPasswordForm.invalid" type="submit" value="Reset Password">
			  </div>	   
		  </form>
		</div>
	  </div>
	</div>
  </div>