<a data-toggle="modal" data-target="#exampleModalCenter"><h4>Change password</h4></a>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h2 class="pull-left">Change Password</h2>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
      <div class="text-center">
        <div class="help-block" *ngIf="changePasswordForm.controls.password.touched && changePasswordForm.controls.password.invalid">Password is required.</div>
        <div class="help-block" *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">New Password is required.</div>
        <div class="help-block" *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">Confirm Password is required.</div>
    </div>
			<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">  

        		<div class="form-group">
					<label for="Password" class="pull-left">Current Password</label>
					<input class="mb-4 form-control" formControlName="password" type="password" placeholder="Enter password"> 
				</div>

				<div class="form-group">
					<label for="confirmPassword" class="pull-left">Confirm Password</label>
					<input class="mb-4 form-control" formControlName="newPassword" type="password"  placeholder="New Password"> 
                </div>
                
                <div class="form-group">
                    <label for="confirmPassword" class="pull-left">Confirm Password</label>
                    <input class="mb-4 form-control" formControlName="confirmPassword" type="password"  placeholder="Confirm Password"> 
                </div>
				
			<div class="modal-footer">
				<input name="reset" id="reset" class="btn btn-block login-btn mb-4" [disabled]="changePasswordForm.invalid" type="submit" value="Change Password">
			  </div>	   
		  </form>
		</div>
	  </div>
	</div>
  </div>